# Yandex Speech Kit
FOLDER_ID='***'
YANDEX_PASSPORT_TOKEN='***'


# Already set default values:

# general settings
# DATA_FOLDER='data_folder'
# TEXT_LENGTH_LIMIT=500

# yandex speech kit settings
# KIT_VOICE='filipp'
# KIT_EMOTION='good'
# TOKEN_RENEWAL_INTERVAL=1800